src/CardRecharge/Connected Services/ServiceReference1/DoorAuthority.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Door_Authority_New">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jsonText" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Door_Authority_NewResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Door_Authority_NewResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpInfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetEmpInfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetEmpInfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WriteLog">
        <s:complexType />
      </s:element>
      <s:element name="WriteLogResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="empid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBalanceResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="string" nillable="true" type="s:string" />
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="Door_Authority_NewSoapIn">
    <wsdl:part name="parameters" element="tns:Door_Authority_New" />
  </wsdl:message>
  <wsdl:message name="Door_Authority_NewSoapOut">
    <wsdl:part name="parameters" element="tns:Door_Authority_NewResponse" />
  </wsdl:message>
  <wsdl:message name="GetEmpInfoSoapIn">
    <wsdl:part name="parameters" element="tns:GetEmpInfo" />
  </wsdl:message>
  <wsdl:message name="GetEmpInfoSoapOut">
    <wsdl:part name="parameters" element="tns:GetEmpInfoResponse" />
  </wsdl:message>
  <wsdl:message name="WriteLogSoapIn">
    <wsdl:part name="parameters" element="tns:WriteLog" />
  </wsdl:message>
  <wsdl:message name="WriteLogSoapOut">
    <wsdl:part name="parameters" element="tns:WriteLogResponse" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:GetBalance" />
  </wsdl:message>
  <wsdl:message name="GetBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:GetBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpGetIn" />
  <wsdl:message name="HelloWorldHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Door_Authority_NewHttpGetIn">
    <wsdl:part name="jsonText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Door_Authority_NewHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEmpInfoHttpGetIn">
    <wsdl:part name="empid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEmpInfoHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpGetIn" />
  <wsdl:message name="WriteLogHttpGetOut" />
  <wsdl:message name="GetBalanceHttpGetIn">
    <wsdl:part name="empid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpGetOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="HelloWorldHttpPostIn" />
  <wsdl:message name="HelloWorldHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="Door_Authority_NewHttpPostIn">
    <wsdl:part name="jsonText" type="s:string" />
  </wsdl:message>
  <wsdl:message name="Door_Authority_NewHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="GetEmpInfoHttpPostIn">
    <wsdl:part name="empid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetEmpInfoHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:message name="WriteLogHttpPostIn" />
  <wsdl:message name="WriteLogHttpPostOut" />
  <wsdl:message name="GetBalanceHttpPostIn">
    <wsdl:part name="empid" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetBalanceHttpPostOut">
    <wsdl:part name="Body" element="tns:string" />
  </wsdl:message>
  <wsdl:portType name="DoorAuthoritySoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Door_Authority_New">
      <wsdl:input message="tns:Door_Authority_NewSoapIn" />
      <wsdl:output message="tns:Door_Authority_NewSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpInfo">
      <wsdl:input message="tns:GetEmpInfoSoapIn" />
      <wsdl:output message="tns:GetEmpInfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogSoapIn" />
      <wsdl:output message="tns:WriteLogSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceSoapIn" />
      <wsdl:output message="tns:GetBalanceSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DoorAuthorityHttpGet">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpGetIn" />
      <wsdl:output message="tns:HelloWorldHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="Door_Authority_New">
      <wsdl:input message="tns:Door_Authority_NewHttpGetIn" />
      <wsdl:output message="tns:Door_Authority_NewHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpInfo">
      <wsdl:input message="tns:GetEmpInfoHttpGetIn" />
      <wsdl:output message="tns:GetEmpInfoHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogHttpGetIn" />
      <wsdl:output message="tns:WriteLogHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceHttpGetIn" />
      <wsdl:output message="tns:GetBalanceHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="DoorAuthorityHttpPost">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldHttpPostIn" />
      <wsdl:output message="tns:HelloWorldHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="Door_Authority_New">
      <wsdl:input message="tns:Door_Authority_NewHttpPostIn" />
      <wsdl:output message="tns:Door_Authority_NewHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetEmpInfo">
      <wsdl:input message="tns:GetEmpInfoHttpPostIn" />
      <wsdl:output message="tns:GetEmpInfoHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <wsdl:input message="tns:WriteLogHttpPostIn" />
      <wsdl:output message="tns:WriteLogHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <wsdl:input message="tns:GetBalanceHttpPostIn" />
      <wsdl:output message="tns:GetBalanceHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="DoorAuthoritySoap" type="tns:DoorAuthoritySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Door_Authority_New">
      <soap:operation soapAction="http://tempuri.org/Door_Authority_New" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpInfo">
      <soap:operation soapAction="http://tempuri.org/GetEmpInfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <soap:operation soapAction="http://tempuri.org/WriteLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoorAuthoritySoap12" type="tns:DoorAuthoritySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Door_Authority_New">
      <soap12:operation soapAction="http://tempuri.org/Door_Authority_New" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpInfo">
      <soap12:operation soapAction="http://tempuri.org/GetEmpInfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <soap12:operation soapAction="http://tempuri.org/WriteLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <soap12:operation soapAction="http://tempuri.org/GetBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoorAuthorityHttpGet" type="tns:DoorAuthorityHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Door_Authority_New">
      <http:operation location="/Door_Authority_New" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpInfo">
      <http:operation location="/GetEmpInfo" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <http:operation location="/WriteLog" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <http:operation location="/GetBalance" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="DoorAuthorityHttpPost" type="tns:DoorAuthorityHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="HelloWorld">
      <http:operation location="/HelloWorld" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Door_Authority_New">
      <http:operation location="/Door_Authority_New" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetEmpInfo">
      <http:operation location="/GetEmpInfo" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteLog">
      <http:operation location="/WriteLog" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output />
    </wsdl:operation>
    <wsdl:operation name="GetBalance">
      <http:operation location="/GetBalance" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:mimeXml part="Body" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DoorAuthority">
    <wsdl:port name="DoorAuthoritySoap" binding="tns:DoorAuthoritySoap">
      <soap:address location="http://10.5.0.122:83/DoorAuthority.asmx" />
    </wsdl:port>
    <wsdl:port name="DoorAuthoritySoap12" binding="tns:DoorAuthoritySoap12">
      <soap12:address location="http://10.5.0.122:83/DoorAuthority.asmx" />
    </wsdl:port>
    <wsdl:port name="DoorAuthorityHttpGet" binding="tns:DoorAuthorityHttpGet">
      <http:address location="http://10.5.0.122:83/DoorAuthority.asmx" />
    </wsdl:port>
    <wsdl:port name="DoorAuthorityHttpPost" binding="tns:DoorAuthorityHttpPost">
      <http:address location="http://10.5.0.122:83/DoorAuthority.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>